/*
Colores
gris oscuro = #1d252c
gris claro = #626262
background = #1b2127
celeste = 
*/

/*Globales*/
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
strong {
  color: #026fff;
}
h1 {
  font-size: 38px;
  line-height: 1.5em;
  color: white;
}
img {
  object-fit: cover;
}
/*Header*/
.header {
  background: #1d252c;
  display: flex;
  height: 70px;
  justify-content: space-between; /*Organizar elementos a cada costado*/
  align-items: center;
  flex-wrap: wrap; /*Cuando disminuya la pantalla baje el ultimo elemento*/
}
.logotipo {
  margin-bottom: 20px;
}
.logotipo img {
  height: 50px; /*Tamaño del logotipo*/
}
.header ol {
  display: flex; /*Alinear los enlaces uno al lado del otro*/
  font-size: 16px;
}
.link {
  color: white;
  text-decoration: none;
}
.navegacion a {
  padding: 0 20px; /*Separacion entre cada uno*/
}
.hero {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  background: #1d252c;
}

.borde {
  border: 1px solid orange;
}

.contenedor {
  max-width: 1000px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  height: inherit;
  margin: 0 auto;
  flex: 1 1 0%;
}
/*Portafolio*/
.proyecto {
  display: flex;
  justify-content: space-between;
}
.proyecto-imagen {
  width: 500px;
}

/*Eventos*/
.evento {
  border: 1px solid yellow;
}
.evento-imagen {
  width: 480px;
  height: 200px;
}

/*Redes*/
.contacto {
  border: 1px solid #026fff;
  height: 150px;
}

.redes-link {
  border: 1px solid red;
  display: inline-block; /*Los objetos se forme en linea*/
  /*Ancho y Alto*/
  width: 50px;
  height: 50px;
}

/*Footer*/
.footer {
  border: 1px solid black;
}

/*Media queries*/
@media screen and (max-width: 767px) {
  .header {
    display: block; /*Cuando llegue a esta dimension el segundo elemento caiga*/
    height: auto; /*Auto para poder que los enlaces puedan verse*/
    text-align: center;
  }
  .header ol {
    display: block;
  }
  .navegacion {
    height: 50px;
    text-align: center;
  }
  .logotipo {
    margin-top: 0; /*Arriba de manera responsive estaba tomando 20px*/
  }
}
